// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//投稿フォーム
.help-button {
  cursor: pointer;
}

#markdown_preview {
  height: 355px;
  overflow-y: scroll;
}

.markdown {
  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: solid 1px #ddd;
  }
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: solid 1px #ddd;
  }
  h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: solid 1px #ddd;
  }
  code {
    color: white;
    background: #364549;
  }
  pre {
    code {
      color: white;
      display: block;
      width: 100%;
      padding: 1.2rem 1rem;
      background: #364549;
    }
  }
  blockquote {
    padding: 0rem 1rem;
    border-left: 0.25em solid #dfe2e5;
  }
}

//トップページ
.top-wrapper, .replies-wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #ffffff;
}

.article-box, .reply-box {
  border-bottom: solid 3px #F6F6F6;
}

.title {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.article-up-detail {
  color:gray;
  .writer-name {
    display: inline-block;
  }
  .article-up-date {
    display: inline-block;
    float: right;
  }
}

//記事ページ
.article {
  .tag {
    background-color: #DDDDDD;
    display: inline-block;
    padding: 0.3rem;
    color: #555555;
    border-radius: 0.3rem;
  }
  .article-header {
    margin-bottom: 2rem;
    .title {
      font-size: 2rem;
    }
  }
}

//返信コメント欄
.replies-title {
  font-size: 1.3rem;
  margin-bottom: 0rem;
}
.reply-time {
  text-align: right;
  color: gray;
}

//返信フォーム
.reply-wrapper {
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #EEEEEE;
  .form-title {
    padding: 0.25rem;
    margin: 0;
    color: #999999;
  }
  .reply-form {
    padding: 0.25rem;
    .reply-body {
      width: 100%;
      padding: 0.5rem;
      background: #F5F5F5;
      border: 1px solid #EEEEEE;
    }
    .reply-button {
      color: white;
      border: 1px solid #FFBC61;
      background: #FFC679;
    }
  }
}


//マイページ
.mypage-wrapper {
  width: 90%;
  margin: 0 auto;
  //左のコンテンツ
  .mypage-left-wrapper {
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
    .mypage-article-wrapper {
      width: 90%;
      margin: 0 auto;
      .my-article-title {
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }

  //右のコンテンツ
  .mypage-right-wrapper {
    padding: 0;
    margin-bottom: 1rem;

    .user-box {
      background-color: #ffffff;
      padding: 0.5rem;
      margin-bottom: 1rem;
      //ユーザー写真・名前のbox
      .user-left-box {
        margin: 0.5rem;
        padding: 0rem;
        .user-icon {
          height: 80%;
          display: flex;
          justify-content: center;
          .fa-user {
            border:3px solid black;
            border-radius: 50%;
            padding: 0.5rem;
          }
        }
        .user-name {
          text-align: center;
          margin-bottom: 0rem;
        }
      }
      //ユーザーの記事数・返信数のbox
      .user-right-box {
        padding: 1rem 0;
        .article-count, .reply-count {
          font-size: 1.0rem;
          text-align: center;
          margin: 0.5rem 0;
        }
      }
    }
    //返信box
    .replies-box {
      background-color: #ffffff;
      padding: 0.5rem;
    }
  }
}


//マイページの記事ページ
.article-title-right {
  cursor: pointer;
}
.mypage-dropdown-item {
  padding: 0.25rem 1rem;
  color: gray;
}
.myarticle-form {
  display: inline-block;
  .myarticle-form-button {
    margin: 0 0.75rem;
  }
}



.error-message {
  width: 60%;
  margin: 1.5rem auto 0rem;
}