// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//welcomeページ
.welcome-body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    .welcome-header {
        text-align: right;
        padding: 1rem ;
        a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    .welcome-content {
        text-align: center;
        margin: 4.5rem auto;
        .welcome-title {
            font-size: 4rem;
        }
    }
}

.twitter-btn {
  background-color: #00aced;
  a {
    color: white;
    text-decoration: none;
  }
}

//投稿フォーム
.help-button {
  cursor: pointer;
}

#markdown_preview {
  height: 355px;
  overflow-y: scroll;
}

.markdown {
  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.2rem;
    border-bottom: solid 1px #ddd;
  }
  h2 {
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.2rem;
    border-bottom: solid 1px #ddd;
  }
  h3 {
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.2rem;
    border-bottom: solid 1px #ddd;
  }
  code {
    color: white;
    background: #364549;
  }
  pre {
    code {
      color: white;
      display: block;
      width: 100%;
      padding: 1.2rem 1rem;
      background: #364549;
    }
  }
  blockquote {
    padding: 0rem 1rem;
    border-left: 0.25em solid #dfe2e5;
  }
}

//トップページ
.top-wrapper, .replies-wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #ffffff;
  //文字の折り返しの設定
  word-wrap: break-word;
}

.article-box, .reply-box {
  border-bottom: solid 3px #F6F6F6;
}

.title {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.article-up-detail {
  color:gray;
  .writer-name {
    display: inline-block;
  }
  .article-up-date {
    display: inline-block;
    float: right;
  }
}

//記事ページ
.article {
  .tag {
    background-color: #DDDDDD;
    display: inline-block;
    padding: 0.3rem;
    border-radius: 0.3rem;
      a {
          color: #555555;
      }
  }
  .article-header {
    margin-bottom: 2rem;
    .title {
      font-size: 2rem;
    }
  }
}

//返信コメント欄
.replies-wrapper {
    .replies-title {
        font-size: 1.3rem;
        margin-bottom: 0rem;
    }
    .reply-time {
        text-align: right;
        color: gray;
    }
    .reply-comment {
        //入力された連続する空白や、改行を反映させる
        white-space: pre-wrap;
    }
}

//返信フォーム
.reply-wrapper {
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #EEEEEE;
  .form-title {
    padding: 0.25rem;
    margin: 0;
    color: #999999;
  }
  .reply-form {
    padding: 0.25rem;
    .reply-body {
      width: 100%;
      padding: 0.5rem;
      background: #F5F5F5;
      border: 1px solid #EEEEEE;
    }
    .reply-button {
      color: white;
      border: 1px solid #FFBC61;
      background: #FFC679;
    }
  }
}

//マイページ
.mypage-wrapper {
  width: 90%;
  margin: 0 auto;
  word-wrap: break-word;
  //左のコンテンツ
  .mypage-left-wrapper {
    padding: 0;
    //ユーザー情報
    .user-box {
      background-color: #ffffff;
      padding: 1rem;
      margin-bottom: 1rem;
      //ユーザー写真・名前のbox
      .user-left-box {
        margin: 0.5rem;
        padding: 0rem;
        .user-icon {
          height: 80%;
          display: flex;
          justify-content: center;
          .twitter-avatar {
            border-radius: 50%;
            width: 100px;
            height: 100px;
          }
          .fa-user {
            border:3px solid black;
            border-radius: 50%;
            padding: 1rem;
          }
        }
        .user-name {
          text-align: center;
          margin: 0.5rem;
        }
      }
      //ユーザーの記事数・返信数のbox
      .user-right-box {
        padding: 1rem 0;
        .article-count, .reply-count {
          font-size: 1.5rem;
          text-align: center;
          margin: 0.5rem 0;
        }
      }
    }

    //投稿記事
    .mypage-article-wrapper {
      width: 100%;
      margin-bottom: 1rem;
      background-color: #ffffff;
      padding: 1rem;
      .articles-title {
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }

  //右のコンテンツ
  .mypage-right-wrapper {
    padding: 0;
    margin-bottom: 1rem;

    //返信box
    .replies-box {
      background-color: #ffffff;
      padding: 1rem;
      .replies-title {
        text-align: center;
        font-size:1.5rem;
      }
      .reply-dot {
        padding-left: 0.4rem;
        cursor: pointer;
      }
    }
  }
}

//マイページの記事ページ
.article-title-right {
  cursor: pointer;
}
.mypage-dropdown-item {
  padding: 0.25rem 1rem;
  color: gray;
}

//編集・削除フォーム、ボタン
.dropdown-form {
  display: inline-block;
}

.form-edit-button, .form-delete-button {
  margin: 0 0.5rem;
}

//ブックマーク一覧・検索結果のトップ文
.bookmark-header, .search-result {
    font-size: 1.5rem;
    font-weight: bold;
}

//エラーメッセージ
.error-message {
  width: 60%;
  margin: 1.0rem auto 0rem;
}
